<!-- BEGIN_INCLUDE(yammer:get-messages) -->
<yammer:get-messages/>
<!-- END_INCLUDE(yammer:request-authorization) -->

<!-- BEGIN_INCLUDE(yammer:get-sent-messages) -->
<yammer:get-sent-messages/>
<!-- END_INCLUDE(yammer:get-sent-messages) -->

<!-- BEGIN_INCLUDE(yammer:get-received-messages) -->
<yammer:get-received-messages/>
<!-- END_INCLUDE(yammer:get-received-messages) -->

<!-- BEGIN_INCLUDE(yammer:get-private-messages) -->
<yammer:get-private-messages/>
<!-- END_INCLUDE(yammer:get-private-messages) -->

<!-- BEGIN_INCLUDE(yammer:get-following-messages) -->
<yammer:get-following-messages/>
<!-- END_INCLUDE(yammer:get-following-messages) -->

<!-- BEGIN_INCLUDE(yammer:create-message) -->
<yammer:create-message body="New cool message"/>
<!-- END_INCLUDE(yammer:create-message) -->

<!-- BEGIN_INCLUDE(yammer:list-users) -->
<yammer:list-users/>
<!-- END_INCLUDE(yammer:list-users) -->

<!-- BEGIN_INCLUDE(yammer:get-user) -->
<yammer:get-user userId="#userId#"/>
<!-- END_INCLUDE(yammer:get-user) -->